<div class="d-flex align-items-center justify-content-center h-100">
  <div class="card col-12 col-sm-auto align-self-stretch align-self-sm-center">
    <div class="card-header">Logga In</div>
    <div class="card-body justify-content-center align-content-center bg-body-secondary p-sm-4">
      <form [formGroup]="loginForm" class="d-flex flex-column gap-3" (submit)="onLogin()">
        <form-input [Type]="'text'" [Label]="'Användarnamn'"  [Name]="'username'"></form-input>
        <form-input [Type]="'text'" [Label]="'Lösenord'"  [Name]="'password'"></form-input>
        <div id="emailHelp" class="form-text">Konto är login/login.</div>
        <button type="submit" class="btn btn-success align-self-center">Logga In</button>
      </form>
    </div>
  </div>
</div>