<div class="d-flex align-items-center justify-content-center h-100">
  <form [formGroup]="loginForm" class="d-flex flex-column bg-body-secondary border rounded p-3 gap-3"
    (submit)="onLogin()">
    <form-input [Type]="'text'" [Label]="'Användarnamn'"  [Name]="'username'"></form-input>
    <form-input [Type]="'text'" [Label]="'Lösenord'"  [Name]="'password'"></form-input>
    <div id="emailHelp" class="form-text">Konto är login/login.</div>
    <button type="submit" class="primary">Apply now</button>
  </form>
</div>