<nav id="topNav" class="navbar navbar-expand-md p-3 z-1 bg-body-tertiary">
    <a [routerLink]="['']" routerLinkActive="active" ariaCurrentWhenActive="page" class="navbar-brand ms-1"
        href="#"><fa-icon [title]="" size="lg" [icon]="faBook"></fa-icon>
        Böcker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            @if(isLoggedIn()){
            <li class="nav-item">
                <a [routerLink]="['/quotes']" routerLinkActive="active" ariaCurrentWhenActive="step"
                    class="nav-link">Citat</a>
            </li>
            }
        </ul>
        <ul class="navbar-nav gap-3">
            <li class="nav-item">
                <button class="btn btn-outline-secondary" (click)="toggleTheme()">
                    <fa-icon [icon]="this.lightMode() ? faMoon : faSun"></fa-icon>
                </button>
            </li>
            <li class="nav-item">
                @if(!isLoggedIn()){
                <button [routerLink]="['/login']" type="button" class="btn btn-outline-secondary">
                    <fa-icon [title]="" size="lg" [icon]="faSignIn"></fa-icon> Logga In
                </button>
                } @else{
                <button type="button" class="btn btn-outline-secondary" (click)="logOut()">
                    <fa-icon [title]="" size="lg" [icon]="faSignOut"></fa-icon> Logga Ut
                </button>
                }
            </li>
        </ul>
    </div>
</nav>