.display-6 {
    font-weight: 500;
}

.cover {
    &.small {
        width: 120px;
        height: 175px;
    }

    &.large {
        width: 155px;
        height: 200px;
    }
}

.buttons {
    position: absolute;
    top: 30%;
    right: 2rem;
}

.border {
    border-style: dashed !;
}


p {
    text-wrap: nowrap;

    span.inner {
        display: inline-block;
        width: 6rem;
    }
}