<div class="d-flex align-items-center justify-content-center h-100">
  <form [formGroup]="loginForm" class="bg-body-secondary border rounded p-3" (submit)="onLogin()">
    <div class="mb-3">
      <label for="username">Användarnamn: </label>
      <input id="username" class="form-control" type="text" formControlName="username" />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Lösenord: </label>
      <input id="password" autocomplete="false" type="password" class="form-control" formControlName="password" />
    </div>
    <div id="emailHelp" class="form-text pb-3">Konto är login/login.</div>
    <button type="submit" class="primary">Apply now</button>
  </form>
</div>