<div *ngIf="this.bookForm !== undefined">
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="card col-sm-auto col-12 col">
            <div class="card-header">Information</div>
            <div class="card-body bg-body-secondary">
                <form class="needs-validation row p-3 d-flex flex-column gap-3" [formGroup]="bookForm"
                    (ngSubmit)="onUpdate()">
                    <div>
                        <label for="title" class="form-label">Titel</label>
                        <input type="text" class="form-control" id="title" formControlName="title" required>
                        <div *ngIf="title?.hasError('required')">
                            Vänligen ange en boktitel
                        </div>
                    </div>
                    <div class="d-flex flex-column gap-3">
                        <div class="mb-3">
                            <legend>Författare</legend>
                            <div class="d-flex flex-row flex-grow w-100 gap-3">
                                <div class="flex-grow-1">
                                    <label for="firstName" class="form-label">Förnamn</label>
                                    <input type="text" class="form-control" id="firstName" formControlName="firstName">
                                </div>
                                <div class="flex-grow-1">
                                    <label for="surName" class="form-label">Efternamn</label>
                                    <input type="text" class="form-control" id="surName" formControlName="surName">
                                </div>
                            </div>
                        </div>
                        <div>
                            <legend>Övrigt</legend>
                            <div class=" d-flex flex-column gap-3">
                                <div class="mb-3 flex-grow-1">
                                    <label for="bookType" class="form-label">Boktyp:</label>
                                    <select id="bookType" class="form-select" aria-label="Boktyp"
                                        formControlName="bookType">
                                        <option [ngValue]="undefined" [disabled]="true" selected>Välj typ av bok
                                        </option>
                                        <option *ngFor="let type of this.bookTypes" [value]="type">{{ type }}</option>
                                    </select>
                                </div>
                                <div class="mb-3 flex-grow-1">
                                    <label for="noOfPages" class="form-label">Antal sidor</label>
                                    <input type="number" class="form-control" id="antalSidor"
                                        formControlName="noOfPages">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" [disabled]="bookForm.invalid" class="btn btn-primary">Uppdatera</button>
                </form>
            </div>
        </div>
    </div>
</div>